.owl-carousel {
/*	height: 600px;*/
	display: block;
}

.ui.secondary.pointing.menu {
	margin-bottom: 0
}

.search-item {
	margin-bottom: inherit !important
}

#login-modal .column, #sign-in-modal .column {
  	max-width: 450px;
}