<!doctype html>
<html lang="en" ng-app="needleartApp">
<head ng-controller="mainController">
  <meta charset="utf-8">
  <title>{{general.title}}</title>
  <link rel="stylesheet" type="text/css" href="libs/semantic/semantic.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="libs/owlcarousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="libs/owlcarousel/assets/owl.theme.default.min.css">
  <script src="libs/angular/angular.js"></script>
  <script src="libs/angular/angular-route.js"></script>
  <script src="libs/angular/angular-animate.js"></script>

	<base href="/">
  <script src="app/app.js"></script>
  <script src="app/controllers/productsController.js"></script>
  <script src="app/controllers/mainController.js"></script>
  <script src="app/controllers/homeController.js"></script>
  <script src="app/controllers/aboutController.js"></script>
  <script src="app/controllers/contactController.js"></script>
  <script src="app/controllers/notfoundController.js"></script>
</head>

<body ng-controller="mainController">

	<header>
		<div class="ui container">
			<div class="ui secondary pointing blue menu">
			  <div class="header item">
			    NeedleArt
			  </div>
			  <a class="item active" ng-class="{ active: isActive('/')}" href="/">
			    Home
			  </a>
			  <a class="ui item dropdown" ng-class="{ active: isActive('/products')}" href="/products">
				  <div class="text" ng-class="{ active: isActive('/products')}">Categories</div>
				  <i class="dropdown icon"></i>
				  <div class="menu">
				    <div class="item">
				      Embroidery1
				    </div>
				    <div class="item">
				      Embroidery2
				    </div>
				    <div class="item">
				      Embroidery3
				    </div>
				    <div class="item">
				      Embroidery4
				    </div>
				    <div class="item">123</div>
				    <div class="item" ng-class="{ active: isActive('/products')}">
				      <i class="dropdown icon"></i>
				      SubCat
				      <div class="menu">
				        <div class="item">sub1</div>
				        <div class="item">sub2</div>
				      </div>
				    </div>
				    <div class="item">Last</div>
				  </div>
			  </a>

			  <a class="item" ng-class="{ active: isActive('/about')}" href="/about">
			    About
			  </a>
			  <a class="item" ng-class="{ active: isActive('/contact')}" href="/contact">
			    Contact
			  </a>
			  <div class="right menu">
			    <div class="item search-item">
			      <div class="ui transparent icon input">
			        <input type="text" placeholder="Search products..." ng-model="query">
			        <i class="search link icon"></i>
			      </div>
			    </div>
			  <a class="item" id="sign-in-button">
			    Sign in
			  </a>
			  <a class="item" id="login-button">
			    Login
			  </a>
			  <a class="item" id="cart-button">
				  <i class="shop icon"></i>
			  </a>
			  </div>
			</div>
		</div>


		<!-- modals -->
		<!-- login -->
		<div class="ui basic modal" id="login-modal">
			<div class="ui middle aligned center aligned grid" id="login-modal">
				<div class="column">
				    <form class="ui large form">
				      <div class="ui stacked segment">
				        <div class="field">
				          <div class="ui left icon input">
				            <i class="user icon"></i>
				            <input type="text" name="email" placeholder="E-mail address">
				          </div>
				        </div>
				        <div class="field">
				          <div class="ui left icon input">
				            <i class="lock icon"></i>
				            <input type="password" name="password" placeholder="Password">
				          </div>
				        </div>
				        <div class="ui fluid large teal submit button">Login</div>
				      </div>

				      <div class="ui error message"></div>

				    </form>

				    <div class="ui message">
				      <a href="/">
							  <i class="big vk icon"></i>
				      </a>
				      <a href="/">
							  <i class="big google plus red icon"></i>
				      </a>
				      <a href="/">
							  <i class="big facebook icon"></i>
				      </a>
				    </div>
			    </div>
		    </div>
		</div>

		<!-- sign in -->
		<div class="ui basic modal" id="sign-in-modal">
			<div class="ui middle aligned center aligned grid" id="sign-in-modal">
				<div class="column">
				    <form class="ui large form">
				      <div class="ui stacked segment">
				        <div class="field">
				          <div class="ui left icon input">
				            <i class="user icon"></i>
				            <input type="text" name="email" placeholder="E-mail address">
				          </div>
				        </div>
				        <div class="field">
				          <div class="ui left icon input">
				            <i class="lock icon"></i>
				            <input type="password" name="password" placeholder="Password">
				          </div>
				        </div>
				        <div class="field">
				          <div class="ui left icon input">
				            <i class="lock icon"></i>
				            <input type="password" name="repassword" placeholder="Re Password">
				          </div>
				        </div>
				        <div class="ui fluid large teal submit button">Sign In</div>
				      </div>

				      <div class="ui error message"></div>

				    </form>

				    <div class="ui message">
				      <a href="/">
							  <i class="big vk icon"></i>
				      </a>
				      <a href="/">
							  <i class="big google plus red icon"></i>
				      </a>
				      <a href="/">
							  <i class="big facebook icon"></i>
				      </a>
				    </div>
			    </div>
		    </div>
		</div>

		 <!-- cart view -->
		<div class="ui modal" id="cart-modal">
			<i class="close icon"></i>
			<div class="image content">
				<div class="ui link three stackable cards">
				<div class="ui card">
			  	<a class="ui right corner label">
		          <i class="delete icon"></i>
		      	</a>
				  <div class="ui image">
				    <img src="img/products/empty_product.png" class="visible content">
				  </div>
				  	<div class="content">
				    <a class="header" href="#/products/1">prod 1</a>
				    <div class="meta">
				      <span>lorem ips 2</span>
				    </div>
				  </div>
				  <div class="extra content">
				  	<span class="right floated">
			        50
			      </span>
				    <a>
				      <i class="heart icon"></i>
				       adds
				    </a>
				  </div>
				</div>

				<div class="ui card">
				<a class="ui right corner label">
		          <i class="delete icon"></i>
		      	</a>
				  <div class="ui image">
				    <img src="img/products/empty_product.png" class="visible content">
				  </div>
				  <div class="content">
				    <a class="header" href="#/products/1">prod 1</a>
				    <div class="meta">
				      <span>lorem ips 2</span>
				    </div>
				  </div>
				  <div class="extra content">
				  	<span class="right floated">
			        50
			      </span>
				    <a>
				      <i class="heart icon"></i>
				       adds
				    </a>
				  </div>
				</div>

				<div class="ui card">
				<a class="ui right corner label">
		          <i class="delete icon"></i>
		      	</a>
				  <div class="ui image">
				    <img src="img/products/empty_product.png" class="visible content">
				  </div>
				  <div class="content">
				    <a class="header" href="#/products/1">prod 1</a>
				    <div class="meta">
				      <span>lorem ips 2</span>
				    </div>
				  </div>
				  <div class="extra content">
				  	<span class="right floated">
			        50
			      </span>
				    <a>
				      <i class="heart icon"></i>
				       adds
				    </a>
				  </div>
				</div>
			  </div>
			</div>
		</div>
	</header>

	<div class="owl-carousel" ng-show="showCarousel">
		<img src="img/slider/slide1.jpg">
		<img src="img/slider/slide1.jpg">
		<img src="img/slider/slide1.jpg">
	</div>

	<div class="ui hidden divider"></div>

	<div ng-view style="min-height: calc(100vh - 303px);"></div>

	<div class="ui hidden divider"></div>

	<footer ng-include="'app/views/footer.html'" scope="" onload="loaded = true"></footer>

	<script src="libs/jquery/jquery-2.2.2.js"></script>
	<script src="libs/semantic/semantic.min.js"></script>
	<script src="libs/owlcarousel/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>