<div class="ui container">
	<div class="ui column centered grid">
  	<div class="ten wide column">
			<div class="ui raised segment">
				<h2>{{message}}</h2>

				<form class="ui form">
				  <h4 class="ui dividing header"></h4>
				  <div class="field">
				    	<label>Name</label>
				      <div class="field">
				        <input type="text" name="contact[first-name]" placeholder="Name">
				      </div>
				  </div>
				  <div class="field">
				    <label>E-mail</label>
			      <div class="field">
			        <input type="text" name="contact[address]" placeholder="Street Address">
			      </div>
			      <div class="field">
					    <label>Message</label>
					    <textarea rows="2"></textarea>
					  </div>
				  </div>
				  <div class="ui fluid teal button">Send</div>
				</form>
			</div>
		</div>
		<div class="six wide column"></div>
	</div>
</div>