<div class="feature alternate ui stripe vertical segment">
  <div class="ui three column center aligned divided relaxed stackable grid container">
    <div class="row">
      <div class="column">
        <h2 class="ui icon header">
          <i class="cut icon"></i>
          40+ made works
        </h2>
        <p></p>
        <a class="ui large blue button" href="/">Browse</a>
      </div>
      <div class="column">
        <h2 class="ui icon header">
          <i class="smile icon"></i>
          97% happy clients
        </h2>
        <p></p>
        <a href="/" class="ui primary view-ui large button">Browse</a>
      </div>
      <div class="column">
        <h2 class="ui icon header">
          <i class="calendar icon"></i>
          200+ spent days
        </h2>
        <p></p>
        <a href="/" class="ui large blue button">What we use</a>
      </div>
    </div>
  </div>
</div>