<div class="ui container">
	<div class="ui hidden divider"></div>
	<div class="ui centered grid" ng-controller="productsController">
		<h1 class="ui header">{{message}}</h1>
	  	<div class="ui link three stackable cards">
				<div class="ui card" ng-repeat="product in products | filter:query">
				  <div class="ui slide masked reveal image">
				    <img src="{{product.image}}" class="visible content">
				    <img src="{{product.image}}" class="hidden content">
				  </div>
				  <div class="content">
				    <a class="header" href="#/products/{{product.id}}">{{product.title}}</a>
				    <div class="meta">
				      <span class="date">{{product.shortdesc}}</span>
				    </div>
				  </div>
				  <div class="extra content">
				  	<span class="right floated">
			        {{product.price | currency: "UAH ":0}}
			      </span>
				    <a class="left floated">
				      <i class="heart icon"></i>
				      {{product.fav}} <span>5</span>
				    </a>
				  </div>
				</div>
		  </div>
	</div>
</div>